body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fac464;
}

.container {
    width: 100%;
    height: 100%;
}



/* BackGround SVG style */
svg {
    position: fixed;
    bottom: 0;
}

.upperWave {
    z-index: 100;
}

.waveOne {
    fill: #fca952;

}

.waveTwo {
    fill: #ffaa22;
    opacity: 0.5;
}

/* Box Style */

section {
    width: 30%;
    height: 100vh;
    position: relative;
    z-index: 200;
    margin: auto;
}

.boxLid {
    background: #ff6359;
    margin: auto;
    width: 200px;
    height: 45px;


}

.box {
    position: relative;
    top: 45%;
    background: repeating-linear-gradient(-45deg,
            #ff4047,
            #ff4047 15px,
            white 10px,
            white 34px);
    margin: auto;
    width: 180px;
    height: 180px;
    animation-name: boxSize;
    animation-duration: 3s;
    /* z-index: 400; */
}


@keyframes boxSize {
    0% {
        width: 180px;
        border-radius: 0px;
    }

    25% {
        width: 200px;
        border-radius: 20px/60px;
    }

    50% {
        width: 180px;
        border-radius: 0px;
    }

    100% {
        width: 200px;
        border-radius: 20px/60px;
    }
}

/* Lid Tie style */

.lidTieContainer {
    margin: auto;
    width: 200px;
    position: relative;
    top: 45%;
    animation-name: lid;
    animation-delay: 3s;
    animation-duration: 3s;
}


/* Box lid slide up animation */
@keyframes lid {
    0% {
        top: 45%;
    }

    100% {
        top: -100px;
    }
}


/* External lid wrapper */
.lidWrapper,
.boxWrapper {
    width: 22%;
    height: 100%;
    margin: auto;
}

.boxWrapper {
    background: #04b4a7;
}

.lidWrapper {
    background: #09d1c2;
}

.leftOuterTie {
    background: #09d1c2;
    margin: -61px 56px;
    float: left;
}

.rightOuterTie {
    background: #09d1c2;
    margin: -45px 37px;
    float: right;
}

/* Internal lid wrapper */

.leftInternalTie {
    background: #fac464;
    margin: -28px 80px;
    float: left;
}

.rightInternalTie {
    background: #fac464;
    margin: -22px 69px;
    float: right;
}

.rightInternalTie,
.rightInternalTie:before,
.rightInternalTie:after,
.leftInternalTie,
.leftInternalTie:before,
.leftInternalTie:after {
    width: 15px;
    height: 15px;
    border-top-right-radius: 30%;
}

/* All Ties styling  */

.rightInternalTie:before,
.rightInternalTie:after,
.leftInternalTie:before,
.leftInternalTie:after,
.rightOuterTie:before,
.rightOuterTie:after,
.leftOuterTie:before,
.leftOuterTie:after {
    content: '';
    position: absolute;
    background: inherit;
}

.rightOuterTie,
.rightOuterTie:before,
.rightOuterTie:after,
.leftOuterTie,
.leftOuterTie:before,
.leftOuterTie:after {
    width: 40px;
    height: 40px;
    border-top-right-radius: 30%;
}

.leftInternalTie,
.leftOuterTie {
    transform: rotate(-45deg) skewX(-30deg) scale(1, .866);
}

.rightInternalTie,
.rightOuterTie {
    transform: rotate(45deg) skewX(-30deg) scale(1, .866);

}

.rightInternalTie:before,
.leftInternalTie:before,
.rightOuterTie:before,
.leftOuterTie:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.rightInternalTie:after,
.leftInternalTie:after,
.rightOuterTie:after,
.leftOuterTie:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

/* Mcafee style */

.mcafee {
    position: relative;
    /* top: 55%; */
    bottom: 166px;
    z-index: -1;
    left: 15%;
    animation-name: mcafee;
    animation-delay: 3s;
    animation-duration: 3s;


    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* Box lid slide up animation */
@keyframes mcafee {
    0% {
        bottom: 166px;
    }

    100% {
        bottom: 266px;
    }
}

/* Text Style  */
.text {
    color: red;
    text-align: center;
}

/* Create the light style  */
.light {

    display: inline-block;
    overflow: hidden;
    margin: 0 3em;
    width: 18rem;
    height: 15rem;
    transform: rotate(60deg) skewX(30deg);
}

.light:before {
    display: block;
    background: linear-gradient(white, transparent);
    content: '';
    width: inherit;
    height: 50%;
    transform: skewX(-30deg) rotate(-60deg) translate(-1.25em);
}

.lightPlaceholder {
    transform: rotate(180deg);
    height: 15em;
    margin: auto;
}